.banner {
    width: 100%;
    position: relative;
    .title {
        position: absolute;
        top: 35%;
        right: 15%;
        font-size: 3rem;
        font-weight: 600;
        color: $main-color;
    }
}