.list-wrapper{
    display: inline-block;
    p {
        margin: 0;
        padding: 0;
    }

    .filter {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 12px;

        label {
            font-weight: 600;
            font-size: 14px;
        }

        .sortby {
            width: 25%;
            @include setBorder('border', $light-gray-color);
            margin-left: 10px;
            padding: 5px 8px;
            border-radius: 5px;
        }
    }

    .horizontal {
        width: 98%;
        margin: 15px auto;
    }

    .donor-list {
        padding: 10px 29px;
        width: 48%;
        border: 2px solid #ccc;
        margin: 8px 7px;
        float: left;
        cursor: pointer;

        .user-info {
            display: flex;

            img {
                width: 65px;
                height: 50px;
                border: 1px solid #000;
                border-radius: 50%;
                padding: 5px;
            }

            section {
                width: 100%;
                padding-left: 25px;

                p {
                    font-size: 14px;

                    span {
                        font-weight: 600;
                    }

                    b {
                        color: $main-color;
                    }
                    &.location {
                        margin: 5px 0 0 0;
                    }
                }
            }
        }
    }
    .description {
        margin: 10px 0;
        font-size: 12px;
        font-weight: 500;
    }
}