.main {
    .textCenter {
        text-align: center;
        margin: 15px 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        thead {
            @include setBorder('border-top', $light-gray-color);
        }
    }
    th, td {
        padding: 8px;
        @extend .textCenter;
        @include setBorder('border-bottom', $light-gray-color);
    }
    tr:nth-child(even) {background-color: $white-color;}
      th:first-child {
        width: 25%;
    }
}